In [7]:
import pandas as pd

In [11]:
df = pd.read_csv('Dados.csv')
df

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0      11     0     23    8              12    800  1.603808
1      11     1     23    2              12   1150  1.739790
2      11     1     35    8              15    880  1.760444
3      11     0     46    2               6   3500  1.783158
4      11     1     47    8               9    150  1.690631
...    ..   ...    ...  ...             ...    ...       ...
76835  53     1     46    2              11    812  1.687030
76836  53     0     30    4               7   1500  1.792934
76837  53     0     32    8              12   1300  1.830587
76838  53     0     57    8               4   1500  1.726344
76839  53     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

# Tipos de dados

### Dados qualitativos e dados quantitativos

    Qualitativos: expressa uma qualidade, um atributo dos dados
    Quantitativos: expressam quantidade, contagens, mensurações


### Qualitativos ordinais:
    Podem ser ordenados ou hierarquizados

In [13]:
sorted(df['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

### Qualitativas nominais:
    Não podem ser ordenadas ou hierarquizadas

In [14]:
sorted(df['UF'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [15]:
sorted(df['Sexo'].unique())

[0, 1]

In [16]:
sorted(df['Cor'].unique())

[0, 2, 4, 6, 8]

### Quantitativas discretas
    Representam uma contagem onde os valores  possíveis formam um conjunto finito ou enumerável

In [30]:
print('De %s até %s anos' % (df.Idade.min(), df.Idade.max()))

De 13 até 99 anos

### Quantitativas contínua
    representam uma contagem ou mensuração que assumem valores em uma escala contínua(números reais)

In [31]:
print('De %s até %s metros' % (df.Altura.min(), df.Altura.max()))

De 1.339244614 até 2.028496765 metros

# Distribuição de frequencia